.idea
dist
node_modules
/tscOut/
/.rpt2_cache/
/lib/
/scripts/*.js
*.js.map
*.ts.map
*.tsbuildinfo
*.test.js
*.test.amd.js
*.test.d.ts
/test/*.d.ts
!/test/typings.d.ts
/packages/core/test/qunit-ex.js*
/packages/core/test/qunit-ex.d.ts
/packages/*/lib/
!/packages/*/lib/types/types.d.ts
yarn-error.log
