.idea
node_modules
/scripts/*.js
*.js.map
*.ts.map
*.tsbuildinfo
*.test.js
*.test.amd.js
*.test.iife.js
*.test.d.ts
/packages/test-util/*.js*
/packages/test-util/*.d.ts
!/packages/test-util/typings.d.ts
/packages/*/lib/
!/packages/*/lib/types/types.d.ts
yarn-error.log
